@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
  background: #121212;
  color: #f1f1f1;
  font:
    500 normal 22px/1.3 'Inter',
    sans-serif;
}
.mwg_effect044 .root {
  position: relative;
  padding-top: 2rem;
}
.mwg_effect044 .header,
.mwg_effect044 .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
}
.mwg_effect044 .header p,
.mwg_effect044 .footer p,
.mwg_effect044 .header a,
.mwg_effect044 .footer a {
  pointer-events: auto;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  font-size: 16px;
}
.mwg_effect044 .footer {
  position: relative;
  border-top: 1px solid rgb(95, 95, 95);
  margin: calc(2 * 25px) 0 0;
}
.mwg_effect044 .footer p,
.mwg_effect044 .footer a {
  color: rgb(95, 95, 95);
}
.mwg_effect044 .footer a {
  color: inherit;
  text-decoration: none;
}
.mwg_effect044 .duplicate .footer p,
.mwg_effect044 .duplicate .footer a {
  color: var(--white);
}
.mwg_effect044 .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mwg_effect044 .line p,
.mwg_effect044 .line a {
  font:
    500 normal 10.5vw / 0.9 'Inter',
    sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
.mwg_effect044 .line p:first-child,
.mwg_effect044 .line a:first-child {
  margin: 0 0 0 -0.07em;
}
.mwg_effect044 .star {
  width: 9vw;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  transform-origin: center;
}
.mwg_effect044 .duplicate .star {
  visibility: hidden;
}
.mwg_effect044 .icon {
  width: 7.8vw;
  height: auto;
}
.mwg_effect044 .containers {
  position: relative;
  pointer-events: none;
}
.mwg_effect044 .container {
  position: relative;
  padding: 0 25px;
}
.mwg_effect044 .duplicate {
  --xpercent: 50%;
  --ypercent: 50%;
  mask-image: radial-gradient(
    circle at var(--xpercent) var(--ypercent),
    #000 20%,
    transparent 25%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ff99db;
}
.mwg_effect044 .duplicate .header {
  color: #ff99db;
}

@media (max-width: 768px) {
  .mwg_effect044 .header p:last-child,
  .mwg_effect044 .footer p:last-child,
  .mwg_effect044 .header a:last-child,
  .mwg_effect044 .footer a:last-child {
    display: none;
  }
  .mwg_effect044 .star {
    width: 7vw;
  }
}
