.mwg_effect044 .root {
  position: relative;
  padding-top: 25px;
}
.mwg_effect044 .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
  position: relative;
  border-top: 1px solid var(--border);
  margin: calc(2 * 25px) 0 0;
}
.mwg_effect044 .footer p,
.mwg_effect044 .footer a {
  pointer-events: auto;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  font-size: 16px;
  color: var(--border);
}
.mwg_effect044 .footer a {
  text-decoration: none;
}
.mwg_effect044 .duplicate .footer p,
.mwg_effect044 .duplicate .footer a {
  color: var(--accent);
}
.mwg_effect044 .duplicate .footer p:hover,
.mwg_effect044 .duplicate .footer a:hover {
  color: var(--accent);
}
.mwg_effect044 .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mwg_effect044 .line p,
.mwg_effect044 .line a {
  font:
    500 normal 10.5vw/0.9 'Inter',
    sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
.mwg_effect044 .line p:first-child,
.mwg_effect044 .line a:first-child {
  margin: 0 0 0 -0.07em;
}
.mwg_effect044 .star {
  width: 9vw;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  transform-origin: center;
}
.mwg_effect044 .duplicate .star {
  visibility: hidden;
}
.mwg_effect044 .containers {
  position: relative;
  pointer-events: none;
}
.mwg_effect044 .container {
  position: relative;
  padding: 0 25px;
}
.mwg_effect044 .duplicate {
  --xpercent: 50%;
  --ypercent: 50%;
  mask-image: radial-gradient(
    circle at var(--xpercent) var(--ypercent),
    #000 20%,
    transparent 25%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--accent);
}

@media (max-width: 768px) {
  .mwg_effect044 .footer p:last-child,
  .mwg_effect044 .footer a:last-child {
    display: none;
  }
  .mwg_effect044 .star {
    width: 7vw;
  }
  .mwg_effect044 .duplicate {
    mask-image: radial-gradient(circle at 50% 50%, #000 40%, transparent 60%);
    -webkit-mask-image: radial-gradient(
      circle at 50% 50%,
      #000 40%,
      transparent 60%
    );
  }
  .mwg_effect044 .footer a,
  .mwg_effect044 .footer p {
    color: var(--accent);
  }
}
